[submodule "linux"]
	path = linux
	url = https://github.com/raspberrypi/linux
[submodule "Chapter2/linux"]
	path = Chapter2/linux
	url = https://github.com/raspberrypi/linux
[submodule "Chapter8/buildroot"]
	path = Chapter8/buildroot
	url = https://github.com/buildroot/buildroot.git
